<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    oi
    <h1> {{tcc.titulo}}</h1>
    
    <p>{{tcc.curso}}</p>
    <p>{{tcc.ano_documento}}</p>
    <p>{{tcc.resumo}}</p>
    <p>{{tcc.arquivo}}</p>
    <p>{{tcc.palavras_chave}}</p>
    <p>{{tcc.autor.primeiro_nome}}</p>
    <img src="{{tcc.autor.foto.url}}">
    <p>{{tcc.orientador.primeiro_nome}}</p>
</body>
</html>