<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sdgfdsgdsg</title>
</head>
<body>
    <h1>teste</h1>
    <a class="nav-link" href="{% url 'usuarios:login' %}">Entrar</a>
    <a class="nav-link" href="{% url 'usuarios:logout' %}">Sair</a>
    {% if request.user.is_authenticated %}
        <p>Está logado {{ request.user.username }}</p>
    {% else %}
        <p>não está</p>
    {% endif %}
</body>
</html>