* {
    font-family: 'Comic Sans MS';
}

body{
     background-color: #EEF07D;
     margin: 0;
}

#yellow{
   
    border-radius: 0 8px 8px 0 ;
    background-color:  #ffe018;
    margin-top: 5px;
    width: 60vw;
    margin-bottom: 20px;
    height: 15px ;
}

#yellow_line_2{
    border-radius: 0 8px 8px 0;
    background-color: #FBFF0E;
    width: 30vw;
    height: 10px;
    padding-left: 40px;
   
}
    

#first{
    background-color: #D30001;
    height: 85vh;
    width: 85vw;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 0;
    padding-top: 0.5%;
    padding-left: 0.8%;
}

#second{
    background-color: #E300A4;
    width: 86vw;
    height: 90vh;
    padding-top: inherit;
    padding-left: inherit;
    
}

#third{
    position: absolute;
    background-color: #FF9EBB;
    width: 87vw;
    height: 100vh;
    z-index: 1;
}

#third:not(:only-child([id="main"])){
    padding-top: 3%;
    padding-left: inherit;

}

#fourth{
    display: inline-block;
    position: relative;
    background-color: #0AC7BF;
    width: 90vw;
    height: 100vh;
    margin-top: 1%;
    padding-top: inherit;
   

}

#fifthy{
    position: relative;
    background-color: #0C34A9; 
    width: 92vw;
    height: 101.1vh;
   
}


#main{
    background-color: #29011A;
    height: 104vh;
    width: 87vw;
    padding-left: 20px;
    padding-top: 20px;
}

nav{
    display: inline-flex;
}
 
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    margin-right: 25px;
    margin-left: 70px;
    margin-top: 0;
    padding-top: 20px;
    float: left;
    color: #dddddd;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

